        {% extends 'application/base.html' %}


        {% block content %}
        {% load static %}

        <div class="container container-listing align-items-center justify-content-center text-center more-padding-top more-padding-bottom">
            <div class="row h-100 d-flex align-items-center justify-content-center text-center more-padding-top">
                <div class="text-center col-12 align-items-center more-padding-top">
                  <h2>Cette page n'existe pas, mille pardons !</h2>
                </div>
            </div>
        </div>

        {% endblock %}