    {% extends 'application/base.html' %}


    {% block content %}
    {% load static %}

    <!-- Masthead-->
    {% if user.is_authenticated %}

    <div class="container container-listing align-items-center justify-content-center text-center more-padding-top more-padding-bottom" >
        <!-- <h2 class="text-center mt-0">Colette et Remy</h2>
        <hr class="divider my-4" /> -->
        <div class="row more-padding-top">

            <div class="text-center col-12 align-items-center">
                <h2>Bienvenue {{ user.username }}</h2>
                <h2>Votre email est: {{ user.email }}</h2>
                <h2>Vous êtes {% if user.gender == "Femme cis" %}une femme cisgenre {% elif user.gender == "Femme trans" %}une femme trans {% elif user.gender == "Homme cis" %}un homme cis {% elif user.gender == "Homme trans" %}un homme trans {% elif user.gender == "Personne non-binaire" %}une personne non-binaire {% else %}autre {% endif %}</h2>
                <h2>Voici votre présentation : {{ user.about_me }}</h2>
            </div>

            <div class="text-center col-12 align-items-center">
                <h2>Ces informations ne sont plus à jour ?</h2>
                <h2>Modifiez-les <a href="/modify-account">ici</a></h2>
            </div>

        </div>
    </div>
   

    {% else %}

 <!--    <header class="masthead">
        <div class="container h-100"> -->
            <div class="row h-100 d-flex align-items-center justify-content-center text-center">
                <div class="col-lg-6 text-center">
                    
                </div>
            </div>
<!--             </div>
    </header> -->


    {% endif %}

    {% endblock %}