{% extends 'application/base.html' %}


        {% block content %}
        {% load static %}
        <div class="container container-listing align-items-center justify-content-center text-center more-padding-top more-padding-bottom">
            <!-- Masthead-->
            <div class="row h-100 d-flex align-items-center justify-content-center text-center">
                <div class="col-lg-6 text-center">
                    <div class="mt-5" >
                        <h2 class="h4 mb-2 text-dark">Editer un commentaire</h2>
                        <form method="post" class="text-dark">
                            <!-- {% csrf_token %}
                            {{ form.as_p }}
                            <input type="submit" value="Se connecter" /> -->
                            {% csrf_token %}
                              <div class="col-12 ">
                                  <p>Commentaire : </p>
                                  <p>{{ form.comment }}</p>
                              </div>
                              <div class="col-12 text-center">
                                  <p>Evaluation : {{ form.score_global }}</p>
                              </div>
                              <div class="col-12 text-center">
                                  <p>Pouvez-vous entrer ? {{ form.can_you_enter }}</p>
                              </div>
                              <div class="col-12 text-center">
                                  <p>Vous sentez-vous à l'aise ? {{ form.are_you_safe_enough }}</p>
                              </div>
                              <div class="col-12 text-center">
                                  <p>Les vestiaires sont-ils mixtes ? {{ form.is_mixed_lockers }}</p>
                              </div>
                              <div class="col-12 text-center">
                                  <p>Pouvez-vous accéder aux vestiaires ? {{ form.is_inclusive_lockers }}</p>
                              </div>
                              <div class="col-12 text-center">
                                  <p>Le personnel est-il respectueux ? {{ form.has_respectful_staff }}</p>
                              </div>
                              {% if state != "" %}
                                <p style="color: red">{{ state }}</p>
                              {% endif %}
                            <input  type="submit" value="Modifier" />
                        </form>

                    </div>
                </div>
            </div>
        </div>

        {% endblock %}