        {% extends 'application/base.html' %}


        {% block content %}
        {% load static %}
        <div class="container container-listing align-items-center justify-content-center text-center more-padding-top more-padding-bottom">
            <!-- Masthead-->
            <div class="row h-100 d-flex align-items-center justify-content-center text-center">
                <div class="col-lg-6 text-center">
                    <div class="mt-5" >
                        <h2 class="h4 mb-2 text-dark">Modifier vos informations</h2>
                        <form method="post" class="text-dark">
                            {% csrf_token %}
                              <div class="col-12 ">
                                  <p>Pseudo : {{ form.username }}</p>
                              </div>
                              <div class="col-12 text-center">
                                  <p>Présentation :</p> 
                                  <p>{{ form.about_me }}</p>
                              </div>
                              <div class="col-12 text-center" id="inline-radio-block">
                                  <p>Genre : {{ form.gender }}</p>
                              </div>
                              {% if state != "" %}
                                <p style="color: red">{{ state }}</p>
                              {% endif %}
                            <input  type="submit" value="Modifier" />
                        </form>

                    </div>
                </div>
            </div>
        </div>

        {% endblock %}